@model Pokedex.Models.Pokemon.PokeSearchFom

@{
    ViewData["Title"] = "PokeSearch";
}

<h2>PokeSearch</h2>

<hr />
<div class="row">
    <div class="col-md-4 col-md-offset-3">
        <form asp-action="PokeSearch">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div>
              <h3>Generation</h3>
              <span asp-validation-for="Generation" class="text-danger input-group-addon">
                <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="1" checked>
                    Gen I
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="2">
                    Gen II
                  </label>
                </div>
              </span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

