@model Pokedex.Models.Pokemon.PokeSearchFom

@{
    ViewData["Title"] = "PokeSearch";
}

<h2>PokeSearch</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PokeSearch">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="input-group">
                <span asp-validation-for="Generation" class="text-danger input-group-addon">
                    Generation
                    <input asp-for="Generation" class="form-control" type="radio" value="I"/>
                </span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

